@{
    ViewData["Title"] = "Administrative Functions";
}
<header>
    <h1>Hello Admin</h1>
</header>
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="images/driver.jpg" alt="Picture of a Bus Driver"/>
                    <div class="card-body">
                        <p class="card-text " style="text-align:center">Driver Manager</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-outline-secondary" onclick="location.href='@Url.Action("Create","Drivers")'">Add Driver</button>
                                <button type="button" class="btn btn-lg btn-outline-secondary" onclick="location.href='@Url.Action("Index","Drivers")'">Manage Drivers</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="images/schedule.jpg" alt="Picture of a Schedule" />
                    <div class="card-body">
                        <p class="card-text " style="text-align:center">Schedule Manager</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-outline-secondary" onclick="location.href='@Url.Action("Create","Schedules")'">Add Schedule</button>
                                <button type="button" class="btn btn-lg btn-outline-secondary" onclick="location.href='@Url.Action("Index","Schedules")'">Manage Schedules</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="images/users.jpg" alt="Picture of a Default User Profile Picture"/>
                    <div class="card-body">
                        <p class="card-text " style="text-align:center">Profile Manager</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-outline-secondary" onclick="location.href='@Url.Action("Create","Users")'">Add User</button>
                                <button type="button" class="btn btn-lg btn-outline-secondary" onclick="location.href='@Url.Action("Index","Users")'">Manage User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="images/users.jpg" alt="Picture of a Default User Profile Picture" height="50%"/>
                    <div class="card-body">
                        <p class="card-text " style="text-align:center">Profile Manager</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-outline-secondary" onclick="location.href='@Url.Action("Create","Users")'">Add User</button>
                                <button type="button" class="btn btn-lg btn-outline-secondary" onclick="location.href='@Url.Action("Index","Users")'">Manage User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>